export("AN.test",
       "BS.test",
       "getConnectedComponentList",
       "getKEGGPathways",
       "getSignedGraph",
       "graph.T2.test",
       "hyper.test",
       "laplacianFromA",
       "plotValuedGraph",
       "randomWAMGraph",
       "testOneConnectedComponent",
       "testOneGraph",
       "twoSampleFromGraph",
       "writeAdjacencyMatrix2KGML")

## import(R.utils)
import(graph)
import(KEGGgraph)
## importFrom(graph,subGraph, numEdges, validGraph, isDirected, removeEdge)
## importFrom(KEGGGraph, parseKGML, getPathwayInfo, KEGGpathway2Graph, getTitle, getSubtype)

importFrom(R.methodsS3, throw)
importFrom(Rgraphviz, layoutGraph, renderGraph)
importFrom(rrcov, T2.test)
importFrom(mvtnorm, rmvnorm)
importFrom(RBGL,connectedComp)
importFrom(lattice, level.colors)
importFrom(NCIgraph, is.NCIgraph)
